!!! 5
%html
  %head
    %title My Places
    %meta{:name => "viewport", :content => 'initial-scale=1.0; maximum-scale=1.0; user-scalable=no; width=device-width' }/
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}/
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    %script{:src => "scripts/geolocation.js"}
  %body
    #container
      = yield